@import '../../assets/Constants.css';

.chatroom {
  width: 100%;
  min-height: 100%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}
