.navbar-items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navbar-items a {
  font-size: 18px;
  color: var(--grey);
  font-weight: 400;
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {
  .navbar-items a {
    font-size: 14px;
    color: var(--grey);
    font-weight: 400;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-items {
    display: none;
  }
}
