.service-info {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.service-info-border {
  border-bottom: 1px solid var(--dark-blue);
}

.service-info-image {
  border-radius: 10px;
  border: 1px solid var(--black);
  width: 40%;
  height: 656px;
}

.service-info-content {
  width: 100%;
}

.service-info-content h2 {
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 1rem;
}

.service-info-content p {
  font-weight: 300;
  font-size: 18px;
  width: 90%;
  margin-bottom: 3rem;
}

.service-info-boxes {
  display: flex;
}

.service-info-box {
  display: flex;
  flex-direction: column;
}

.service-info-box h4 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 1rem;
}

.service-info-box p {
  font-size: 14px;
  font-weight: 300;
  width: 80%;
}

@media only screen and (max-width: 1100px) {
  .service-info-image {
    display: none;
  }

  .service-info-content {
    width: 100%;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .service-info-boxes {
    flex-direction: column;
  }
}
