@import '../../assets/Constants.css';

.auth-screen {
  display: flex;
  height: 100%;
}

.auth-right {
  background-color: var(--blue);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .auth-right {
    width: 100%;
  }
}
