* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  height: 100%;
  background-color: var(--grey);
}

.container {
  width: 80%;
  margin: auto;
  height: 100%;
}

#title {
  font-family: 'Poppins';
  font-weight: bold;
  color: var(--black);
  font-size: 42px;
}

#title span {
  color: var(--blue);
}

.btn-small {
  font-family: 'Poppins';
  font-size: 19px;
  padding: 1rem 3.5rem;
  border-radius: 43px;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary,
.btn-secondary {
  font-family: 'Poppins';
  font-size: 29px;
  padding: 1.5rem 3rem;
  border-radius: 43px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--black);
  color: var(--white);
}

.btn-secondary {
  background-color: transparent;
  color: var(--black);
}

.input-container {
  width: 100%;
  border-radius: 13px;
  padding: 1rem 2rem;
  margin: 1rem 0;
  font-family: 'Poppins';
  font-size: 20px;
  border: 0px;
  outline: none;
}
