@import '../../assets/Constants.css';

.message-bubble {
  background-color: var(--secondary-light-bg);
  color: var(--grey);
  width: 92%;
  border-radius: 10px;
  padding: 0.8rem;
  margin: 0.8rem 0;
  font-size: 15px;
}
