@import '../../assets/Constants.css';

.message-box,
.message-textarea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-input {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70px;
}

.send-btn {
  display: flex;
  background-color: var(--blue);
  align-items: flex-end;
  padding: 1.5rem;
  border-radius: 0 10px 10px 0px;
  height: 100%;
}

.send-btn-icon {
  width: 22px;
  height: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--purple);
}

.message-textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 1.2rem;
  color: var(--grey);
  background-color: var(--blue);
  font-size: 20px;
  border-radius: 10px 0 0 10px;
  height: 100%;
  overflow: hidden;
}
