.auth-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: var(--grey);
}

.auth-container h2 {
  font-size: 40px;
  font-weight: 500;
}

.auth-container h4 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-left: 0.3rem;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  padding: 1.5rem 0;
}

.remember-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  font-style: italic;
}

.remember-me-container input {
  margin-right: 0.7rem;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border: var(--black);
}

.remember-me-container input[type='checkbox'] {
  accent-color: var(--black);
}

.remember-me-container label {
  font-size: 17px;
}

.sign-in-social {
  margin: 1rem;
}

.no-account {
  margin-top: 1rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.no-account span {
  margin-left: 0.4rem;
}

.no-account span a {
  text-decoration: none;
  color: var(--purple);
}

.register-btn-layout {
  margin: 2rem 0;
}

@media only screen and (max-width: 500px) {
  .auth-container h2 {
    font-size: 28px;
  }

  .auth-container h4 {
    font-size: 12px;
  }

  .login-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    padding: 1.5rem 0;
  }

  .remember-me-container {
    margin-bottom: 1.5rem;
  }

  .no-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.1rem;
  }
}
